<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HejAndOmra.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HejAndOmra.Properties.Settings.Hej_OmraConnectionString" connectionString="Data Source=Mohsen_Altaffi;Initial Catalog=Hej&amp;Omra;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="HejAndOmra.Properties.Settings.Hej_OmraConnectionString1" connectionString="Data Source=.;Initial Catalog=Hej_Omra;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <HejAndOmra.Properties.Settings>
      <setting name="chk1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chk11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
      <setting name="text1" serializeAs="String">
        <value/>
      </setting>
      <setting name="text2" serializeAs="String">
        <value/>
      </setting>
      <setting name="text3" serializeAs="String">
        <value/>
      </setting>
      <setting name="text4" serializeAs="String">
        <value/>
      </setting>
      <setting name="text5" serializeAs="String">
        <value/>
      </setting>
      <setting name="text6" serializeAs="String">
        <value/>
      </setting>
    </HejAndOmra.Properties.Settings>
  </userSettings>
</configuration>
